body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
  background: rgb(83, 170, 210);
	background: linear-gradient(
		90deg,
		rgba(83, 170, 210, 1) 0%,
		rgba(118, 134, 209, 0.9794292717086834) 68%,
		rgba(102, 209, 238, 1) 98%
	);
}
